header {
}

.wrapper {
	width: 100%;
	z-index: 1;
	background: $light-color;

	.page-content {
		width: 100%;
		min-height: 100vh;
		@include flex-column;
		@include flex-center;
		position: relative;

		.container {
			max-width: 800px;
			width: 100%;
			margin: 0 auto;
			@include flex-column;
			@include flex-center;

			.top-content {
				width: 100%;
			}

			.review-link {
				display: block;
				width: 100%;
			}

			.block {
				background: $secondary-light-color;
				margin-bottom: $gutter;
				border: 1px solid $third-light-color;
				width: 100%;
				height: 100px;
				padding: 0 $gutter;
				border-radius: $radius;
				justify-content: space-between;
				@include flex-row;
				@include flex-align-center;

				svg {
					fill: $dark-color;
					height: 50px;
					width: 50px;
				}

				.label {
					color: $brand-color;
					font-weight: 500;
				}

				.button {
					background: $brand-color;
					border-radius: $radius;
					text-align: center;
					color: $light-color;
					text-decoration: none !important;
					text-transform: uppercase;
					width: 200px;
					height: 40px;
					line-height: 40px;
				}
			}
		}
	}
}

.footer {
    width:  100%;
	right: 0;
	background: $light-color;
	height: $footer-height;
	z-index: 1;
	padding: 0 $gutter;
	box-sizing: border-box;
}
  