.wrapper {
	width: 100%;
	z-index: 1;
	background: $light-color;
	@include flex-column;
	@include flex-center;
	min-height: 100vh;

	.page-content {
		width: 100%;
		position: relative;

		.container {
			max-width: 800px;
			width: 100%;
			padding: 0 $gutter;
			margin: 0 auto;
			@include flex-column;
			@include flex-center;

			@media #{$break-large} {
				padding: 0 $gutter * 2;
			}

			footer {
				max-width: 250px;
				width: 100%;
				margin: $gutter * 2 auto $gutter * 2 0;

				@media #{$break-large} {
	
				}	
			}

			.top-content {
				width: 100%;
				margin-bottom: $gutter * 2;
				margin-top: $gutter * 4;
				font-size: 18px;

				.title {
					line-height: 1.2;
					color: $brand-color;
					font-size: $base-font-size + 18px;
					margin-bottom: $gutter;

					@media #{$break-large} {
						font-size: $base-font-size + 25px;
					}
				}

				.stars {
					margin-top: $gutter;
					margin-bottom: $gutter * 3;
				}

				@media #{$break-large} {
					margin-top: 0;
				}
			}

			.review-link {
				display: block;
				width: 100%;
			}

			.block {
				background: $secondary-light-color;
				margin-bottom: $gutter;
				border: 1px solid $third-light-color;
				width: 100%;
				height: 100px;
				padding: 0 $gutter;
				justify-content: space-between;
				@include flex-row;
				@include flex-align-center;

				&:hover .label {
					transform: translateX(5px);
				} 

				&:hover .button {
					background: $dark-color;
				}

				.icon {
					height: 20px;
					width: 20px;

					img {
						max-height: 100%;
					}

					@media #{$break-small} {
						width: 30px;
						height: 30px;
					}

					@media #{$break-large} {
						width: 50px;
						height: 50px;
					}
				}

				.label {
					color: $brand-color;
					font-weight: 600;
					width: 33%; 
					text-transform: uppercase;
					font-size: $base-font-size + 3px;
					text-align: left !important;
					transition: all .3s ease-in-out;
				}

				.button {
					background: $brand-color;
					text-align: center;
					color: $light-color;
					text-decoration: none !important;
					text-transform: uppercase;
					width: 150px;
					height: 50px;
					line-height: 50px;
					transition: all .3s ease-in-out;

					@media #{$break-large} {
						width: 200px;
					}
				}
			}
		}
	}
}
  