header {
}

.wrapper {
	width: 100%;
	z-index: 1;
	background: $light-color;

	.page-content {
		width: 100%;
		min-height: 100vh;
		@include flex-column;
		@include flex-center;
		position: relative;

		.container {
			max-width: 800px;
			width: 100%;
			margin: 0 auto;
			@include flex-column;
			@include flex-center;

			.top-content {
				width: 100%;
			}

			.review-link {
				display: block;
				width: 100%;
			}

			.block {
				width: 100%;
				justify-content: space-evenly;
				@include flex-row;
				@include flex-center;
			}
		}
	}
}

.footer {
    width:  100%;
	right: 0;
	background: $light-color;
	height: $footer-height;
	z-index: 1;
	padding: 0 $gutter;
	box-sizing: border-box;
}
  