.wrapper {
	width: 100%;
	z-index: 1;
	background: $light-color;

	&.split {
		@include flex-row;
	}

	&.index {
		.header h6 {
			color: $light-color;

			@media #{$break-large} {
				color: $text-color;
			}	
		}

		.header,
		.footer {
			a,p {
				color: $light-color;

				@media #{$break-large} {
					color: $text-color;
				}	
			} 
		}
	}

	.page-content {
		width: 100%;
		min-height: 100vh;
		@include flex-column;
		@include flex-center;
		position: relative;

		.container {
			width: 70%;
			margin: 0 auto;
			display: none;
			@include flex-column;
			@include flex-center;
		}
    
    	.heading {
      		font-family: $heading-font-stack !important;
			font-size: $base-font-size + 8;
			font-weight: 300;
      		width: 100%;
	  		z-index: 1;
	  		margin-bottom: $gutter !important;
      		position: relative;
      		line-height: $base-line-height - .5;

      		&.left {
				text-align: left;
				margin: 0 auto 0 0;
      		}

      		&.right {
				text-align: right;
				margin: 0 0 0 auto;
      		}

      		&.center {
				text-align: center;
				margin: 0 auto;
     	 	}

      		&.justify {
        		text-align: justify;
			}
			
			@media #{$break-large} {
				font-size: $base-font-size + 10px;
			}
    	}

    	.text-block {
      		.container {
				text-align: justify;
				width: 100%;
      		}
		}
		
		@media #{$break-large} {
			width: 50%;
		}
	}

	.hero {
		width: 100vw;
		height: 100vh;
		background-color: $dark-color !important;
		@include prefix(background-size, cover !important, webkit moz);
		position: absolute;
		display: none;
		background-position: left center !important;

		@media #{$break-large} {
			display: block;
			position: relative;
			width: 50vw;
		}

		h4 {
			font-size: $base-font-size + 10px;
			color: $light-color;
			text-transform: uppercase;
		}
	
		.name {
			text-align: center;
			display: none;

			@media #{$break-large} {
				display: block;
			}

			a {
				position: relative;
				color: #fff;
				text-decoration: none;

				&:hover {
			  		color: $secondary-dark-color;	
				}
			}
		}

		@media #{$break-large} {
			@include flex-column;
			@include flex-center;
		}
	}
}

@import
	"pages/index",
	"pages/work",
	"pages/projects"
;