<form accept-charset="UTF-8" action="https://hooks.zapier.com/hooks/catch/2600486/zmyy47/" method="POST" class="inquire-form">
  <input type="hidden" name="utf8" value="✓">
  <div class="form-section">
    <input type="text" id="company-contact" placeholder="Your Name" name="name" data-validetta="required">
  </div>
  <div class="form-section">
    <input type="text" id="company-email" placeholder="Your Email Address" name="email" data-validetta="required,email">
  </div>
  <div class="form-section">
    <input type="text" id="company-name" placeholder="Company Name" name="company-name" data-validetta="required">
  </div>
  <div class="form-section">
    <select id="project-needs" name="project-needs" data-validetta="required">
      <option value="" selected="selected" disabled="disabled">Project Needs:</option>
      <option value="Photography">Photography</option>
      <option value="Design">Design</option>
      <option value="Strategy">Strategy</option>
      <option value="Writing">Writing</option>
      <option value="Other">Other</option>
    </select>
  </div>
  <div class="form-section">
    <textarea id="project-overview" placeholder="What is the purpose of this project? What business goals are you looking to achieve? What kind of services are you looking for?" rows="4" name="project-overview" data-validetta="required"></textarea>
  </div>
  <div class="form-section">
    <input type="text" name="_gotcha" style="display:none">
  </div>
  <div class="form-section form-actions">
    <p><input type="submit" value="Let's Talk" class="btn"></p>
  </div>
</form>