.project-overview {
  width: 100%;
  background: $third-light-color;
  min-height: $project-overview;
  z-index: -1;
  @include flex-row;
  @include flex-center;

  .container {
      max-width: 1200px;
      width: 80%;
      @include flex-column;
      align-items: start;

      @media #{$break-large} {
        @include flex-row;
      } 

      .intro {
        text-align: justify;
        @include flex-half;

        @media #{$break-large} {
            padding-right: $gutter + 10px;
            box-sizing: border-box;
        } 
    }
  
    .info {
        margin-top: $gutter * 2;
        margin-right: auto;
        @include flex-half;
  
        @media #{$break-large} {
          margin-top: 0;
          margin-left: $gutter * 2;
        } 
    }   
  
    .heading {
        font-size: $base-font-size - 2px;
        font-family: $heading-font-stack;
        margin-bottom: $gutter;
    }
  }
}

.project-content {
  background: $light-color;
  width: 100%;
  min-height: 100vh;
  padding: 0 0 $gutter * 2 0;
  min-height: $footer-height;

  .container {
      max-width: 1200px;
      width: 100%;
      margin: 0 auto;

      .split-image-left,
      .split-image-right,
      .push-image-left,
      .push-image-right,
      .fullwidth-image,
      .center-image {
            //background: $third-light-color;
      }

      &.dark {
        .split-image-left,
        .split-image-right,
        .push-image-left,
        .push-image-right,
        .fullwidth-image,
        .center-image {
            background: $dark-color;
        }
    }
  }

  .block {
      margin: $gutter * 1.5 auto;

      &:first-of-type {
          margin-top: 0;
      }

      @media #{$break-large} {
        margin: $gutter * 4 auto;
      } 
      
      &.text-block {
          width: 70%;
          margin: 0 auto;
      }

      &.split-image-left,
      &.split-image-right,
      &.push-image-left,
      &.push-image-right,
      &.fullwidth-image,
      &.center-image {
        width: 100%;

      img {
          width: 100%;
      }

      .caption {
          margin-top: $gutter;
          width: 100%;
          @include pin-horizontal-center;
          text-align: center;
      }

      &.split-image-left::after,
  &.split-image-right::after,
  &.push-image-left::after,
  &.push-image-right::after {
      content: '';
      display: block;
      clear: both;
  }

  &.center-image figure {
      width: 50%;
      margin: 0 auto;
  }

  &.split-image-left figure {
      width: 50%;
      float: left;
      position: relative;
  }

  &.split-image-right figure {
      width: 50%;
      float: right;
      position: relative;
  }

  &.push-image-left figure {
      width: 75%;
      float: left;
      position: relative;
  }

  &.push-image-right figure {
      width: 75%;
      float: right;
      position: relative;
  }
  }

}
}