---
layout: default
class: page
---

<section class="project-overview">
  <div class="container">
    <div class="intro">
      <h6 class="heading">{{ page.title | upcase }} • {{ page.project_year | date: "%Y" }}</h6>
      {{ page.content | remove: '<p>' | remove: '</p>' }}
    </div>

    <div class="info">
      {% assign services = page.services | strip_newlines %}
      <div class="services">
        <h6 class="heading">{{ "Services" | upcase }}</h6>   
        <ul>
          {% if page.services %}
          {% for services in page.services %}
          <li>{{ services.service }}</li>
          {% endfor %}
          {% else %}
          <li>{{ page.subtitle }}</li>
          {% endif %}
        </ul>
      </div>
    </div>
  </div>
</section>

<section class="project-content">
  <div class="container {% if page.dark_theme == true %}dark{% endif %}">
    {% for block in page.blocks %}
    {% assign template = block.template %}
    {% case template %}
    {% when 'image' %}
        {% include blocks/images.html %}  
    {% when 'text-block' %}
        {% include blocks/text-block.html %}                     
    {% endcase %}
    {% endfor %}
  </div>
</section>

{% include sections/project-grid.html %}
